/*

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. General
3. Nav

5. Accordion
6. Shop
7. Product

10. Services
11. Contact map
12. Footer
13. Small devices (landscape phones, 576px and up)
14. Medium devices (tablets, 768px and up)
15. Large devices (desktops, 992px and up)
16. Extra large devices (large desktops, 1200px and up)
--------------------------------------------- */


/* Typography */
body,
ul,
li,
p,
a,
label,
input,
div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}

.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}

/* General */
.logo {
  font-weight: 500 !important;
}

.text-warning {
  color: #ede861 !important;
}

.text-muted {
  color: #bcbcbc !important;
}

.text-success {
  color: #59ab6e !important;
}

.text-light {
  color: #cfd6e1 !important;
}

.bg-dark {
  background-color: #212934 !important;
}

.bg-light {
  background-color: #e9eef58f !important;
}

.bg-black {
  background-color: #1d242d !important;
}

.bg-success {
  background-color: #59ab6e !important;
}

.btn-success {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}

.pagination .page-link:hover {
  color: #000;
}

.pagination .page-link:hover,
.pagination .page-link.active {
  background-color: #69bb7e;
  color: #fff;
}

/* Nav */

.nav-2 i {
  color: #FFF;
}

.search {
  cursor: pointer;
}


.site-header__search {
  background: #f8f8f8;
  height: 85px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all .35s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1000
}

@media (min-width: 782px) {
  .site-header__search {
    height: 100%
  }
}

.site-header__search .search-form,
.site-header__search .search-form__input {
  font-family: NeutrafaceText-Bold, sans-serif;
  position: absolute;
  height: 85px;
  width: 100%
}

@media (min-width: 782px) {

  .site-header__search .search-form,
  .site-header__search .search-form__input {
    height: 100%
  }
}

.icon,
.icon--close {
  height: 20px;
  width: 20px
}

.site-header__search .search-form__input {
  border: none;
  outline: 0;
  padding: 20px;
  font-size: 2rem
}

.site-header__search input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset
}

.site-header__search .search-form__close {
  position: absolute;
  top: 50%;
  right: 20px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.site-header__search--active {
  opacity: 1;
  transition: opacity .35s ease-in-out;
  visibility: visible
}

@media (min-width: 782px) {
  .site-header__search .search-form__close {
    right: 30px
  }

  .icon--close {
    height: 40px;
    width: 40px
  }

  .icon--heart {
    fill: #f8f8f8
  }
}

.icon--close-small {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.icon--heart {
  cursor: default;
  height: 10px;
  margin-right: 10px;
  width: 10px
}

#templatemo_nav_top {
  min-height: 40px;
}

#templatemo_nav_top * {
  font-size: .9em !important;
}

#templatemo_main_nav a {
  color: #212934;
}

#templatemo_main_nav a:hover {
  color: #69bb7e;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

#templatemo_main_nav .navbar .nav-icon {
  margin-right: 20px;
}


.navbar-nav .currency {
  overflow-y: scroll;
  height: 500px;
  position: absolute;
}

/* Start Shop Tab */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  min-width: 10rem;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0d6efd;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0d6efd;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

@media (max-width: 991.98px) {
  .dropdown-submenu .dropdown-menu {
    margin-left: 0;
  }
}

/* End Shop Tab */
/* Hero Section */
.hero-section {
  position: relative;
  height: 100vh;
}

.hero-section .video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.hero-section .video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-section .video-background .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-section .container {
  position: relative;
  z-index: 1;
  height: 100%;
}

.hero-section .container .row {
  height: 100%;
  align-items: center;
}

.hero-section .container .row .text-overlay {
  font-size: 60px;
  text-align: center;
}

.hero-section .container .row p {
  color: #3b8b5b;
}

.hero-section .container .row a {
  text-decoration: none;
}

.hero-section .container .row a button {
  background-color: #257244;
  border: none;
}

.hero-section .container .row a button:hover {
  background-color: #FFf;
  color: #69bb7e;
  transition: all .3s ease-in-out;
}

@media (max-width: 991.98px) {
  .hero-section .container {
    padding-top: 60px;
  }

  .top-nav {
    display: none;
  }
}

/* Start Featured Products */
.button button a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.button button a:hover {
  color: #69bb7e;
}

.button button:hover {
  background-color: #FFF !important;
  transition: all .3s ease-in-out;

}

/* End Featured Products */

/* Accordion */
.templatemo-accordion a {
  color: #000;
}

.templatemo-accordion a:hover {
  color: #333d4a;
}

.templatemo-accordion button:focus {
  outline: none;
}

/* Shop */
.shop-top-menu a:hover {
  color: #69bb7e !important;
}

.pro-card-img {
  margin: 0 auto 10px auto;
  padding: 10px;
  position: relative;
  width: 160px;
  z-index: 100;
}

.pro-card-content {
  border: 3px solid #69bb7e;
  min-height: 420px;
  margin-top: -100px;
  padding: 100px 20px 20px;
  position: relative;
  text-align: center;
}

/* Start Insta */

.card {
  border: none;
  position: relative;
  overflow: hidden;

}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-img,
.card-img-top {
  transition: transform 0.6s ease;
  cursor: pointer;
}

.product-wap {
  cursor: pointer;
}

.card:hover .card-img {
  -ms-transform: scale(1.1);
  transform: scale(1.3);
  transition: all 1.2s ease-out
}

.card:hover .card-img-top {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 1.2s ease-out
}


/*Start Single Recipe*/
.recipe-content {
  padding: 40px 20px 20px;
  padding-top: 18px;
}

@media (min-width: 1200px) {
  .recipe-content {
    margin: 0 auto;
    max-width: 782px;
  }
}

.recipe-content__title {
  font-size: 2rem
}

@media (min-width: 992px) {
  .recipe-content__title {
    font-size: 2rem
  }
}

@media (max-width: 496px) {}


@media (min-width: 782px) {
  .recipe-content__print {
    margin-left: 20px
  }

  .recipe-content__print button {
    padding: 1px 3px
  }
}

.recipe-content__instructions {
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 50px;
  text-transform: uppercase;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap
}

.recipe-content__instructions span {
  font-size: 1.2rem
}

.recipe-content__instructions span sup {
  font-size: .9rem
}

.recipe-content__instructions__col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap
}

.social-icons .btn:hover {
  background-color: #FFF !important;
  color: #69bb7e;
}

.social-icons .btn:hover i {
  color: #69bb7e !important;
}

/* Product */
.product-wap {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

.product-wap .product-color-dot.color-dot-red {
  background: #f71515;
}

.product-wap .product-color-dot.color-dot-blue {
  background: #6db4fe;
}

.product-wap .product-color-dot.color-dot-black {
  background: #000000;
}

.product-wap .product-color-dot.color-dot-light {
  background: #e0e0e0;
}

.product-wap .product-color-dot.color-dot-green {
  background: #0bff7e;
}

.card.product-wap .card .product-overlay {
  background: rgba(0, 0, 0, .2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}

.card.product-wap a {
  color: #000;
}

/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}

.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

/* Services */
.services-icon-wap {
  transition: .3s;
}

.services-icon-wap:hover,
.services-icon-wap:hover i {
  color: #fff;
}

.services-icon-wap:hover {
  background: #69bb7e;
}

/* Contact map */
.leaflet-control a,
.leaflet-control {
  font-size: 10px !important;
}

.form-control {
  border: 1px solid #e8e8e8;
}

/* ABout Us Section */

.bg-image {
  background-image: url("../images/about-us.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.section-description {
  font-size: 18px;
  margin-bottom: 30px;
  color: #000;
}

/* Footer */

.site-footer {
  background-color: #212934;
  position: relative
}

.site-footer a {
  text-decoration: none;
}

.site-footer::before {
  background-color: #212934;
  content: "";
  height: 10px;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%
}

.site-footer__content {
  padding: 40px 20px 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto
}

@media (min-width: 1200px) {
  .site-footer__content {
    padding-right: 0;
    padding-left: 0
  }
}

.site-footer__content__secondary {
  background: #222326;
  border-top: 1px solid #f8f8f8;
  padding: 20px 0;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto
}

.copyright {
  color: #f8f8f8;
  font-size: .3rem
}

.copyright a {
  color: #f8f8f8;
  font-family: BaskervilleBT-Roman
}

.instagram-image__likes,
.site-footer__nav ul a,
.widget .search-input {
  font-family: NeutrafaceText-Bold, sans-serif
}

.site-footer__nav {
  text-align: center
}

@media (min-width: 782px) {
  .site-footer__content__secondary {
    background: 0 0
  }

  .site-footer__nav {
    float: left;
    text-align: left;
    width: 50%
  }
}

.site-footer__nav ul {
  margin: 0;
  padding: 0
}

.site-footer__nav ul li {
  display: inline-block;
  margin: 0 20px 10px 0;
  font-size: .9rem
}

.site-footer__nav ul a {
  color: #f8f8f8;
  transition: all .35s ease-in-out
}

.site-footer__nav ul a:hover {
  color: #69bb7e;
  transition: all .35s ease-in-out
}

.site-footer__social {
  margin-top: 20px;
  text-align: center
}

@media (min-width: 782px) {
  .site-footer__social {
    float: right;
    margin-top: 0;
    text-align: right;
    width: 50%
  }
}

.site-footer__social ul {
  margin: 0;
  padding: 0
}

.site-footer__social ul li {
  display: inline-block;
  margin-right: 20px
}

.site-footer__social ul li i:hover {
  color: #69bb7e;
  transition: all .35s ease-in-out
}

.site-footer__social ul li:last-child {
  margin-right: 0
}






/* #tempaltemo_footer a {
  color: #dcdde1;
}

#tempaltemo_footer a:hover {
  color: #68bb7d;
}

#tempaltemo_footer ul.footer-link-list li {
  padding-top: 10px;
}

#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}

#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}

#tempaltemo_footer .border-light {
  border-color: #2d343f !important;
} */
/* Breadceumb */
.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.breadcrumb li+li::before {
  content: ">";
  padding: 0 0.5rem;
}

.breadcrumb li a {
  color: #333;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #007bff;
}

.bliss {
  max-height: min-content;
}

.bliss .image img {
  position: relative;
  top: -127px;
}

/* Login Page */
.form {
  width: 500px;
  border-radius: 20px;
  height: 135vh;
}

.login-heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  color: #59ab6e;
}

.login .facebook-icon,
.twitter-icon,
.google-icon {
  border: 1px solid transparent;
  padding: 2% 4%;
  margin-left: 2%;
  border-radius: 50px;
  background-color: #3b5998;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.twitter-icon {
  padding: 2% 3%;
  background-color: #1da1f2;
}

.google-icon {
  padding: 2% 3.5%;
  background-color: #ea4335;
}

.facebook-icon:hover,
.twitter-icon:hover,
.google-icon:hover {
  background-color: rgb(80, 75, 75);
  transition: 0.5s linear;
}


.input-1,
.input-2 {
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

#user {
  font-size: 20px;
}

#lock {
  font-size: 20px;
}

.login .login-btn:hover,
.login .verify:hover {
  background-color: transparent !important;
  color: #69bb7e;
}

a {
  color: #FFF
}

a:hover {
  text-decoration: none;
}

.accept {
  font-size: 15px;
  font-weight: 600;
  color: rgb(148, 141, 141)
}

.accept:hover {
  color: #69bb7e;
}

.login {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
}

.login .login-page:hover,
.login .sign-up:hover {
  color: #69bb7e !important;
}

.sign-up {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px !important;
  color: #000;
}

.show-me {
  display: none
}

/* Blog Design */

.news-section {
  padding: 80px 0;
  background-color: #f5f5f5;
}

.news-section h2 {
  font-size: 32px;
  font-weight: 600;
}

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.news-section .card:hover {
  transform: translateY(-10px);
}

.card-title {
  font-size: 22px;
  font-weight: 600;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
}

.news-section a:hover,
.news-details a:hover {
  background-color: #FFF !important;
  color: #69bb7e;
}


/* Custom CSS */

.card-title {
  margin-bottom: 0.5rem;
}

.card-text {
  margin-bottom: 0;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.table tbody tr:last-child td {
  font-weight: bold;
}

.table tbody tr:last-child td:first-child {
  text-align: right;
}

/* Start Cart */

.cart button:hover {
  background-color: #FFF !important;
  color: #69bb7e !important;
  transition: all .3s ease-in-out;

}

.cart button:hover a {
  color: #69bb7e !important;
  transition: all .3s ease-in-out;

}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
}

.overlay i {
  font-size: 48px;
  color: #fff;
}

.overlay i:hover {
  cursor: pointer;
}

.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.cart-banner {
  background-color: #171717;
  padding: 10px 0;
  cursor: pointer;
}

.cart-banner:hover {
  opacity: .9;
  transition: all .4s ease-in-out;
}

/* Payment Page */
#payment-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#payment-form label {
  display: block;
  margin-bottom: 10px;
}

#payment-form select,
#payment-form input[type="text"],
#payment-form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

#payment-form button[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#payment-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.content-payment .products {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-payment .num {
  bottom: 50px;
  right: 50px;
}

.content-payment .total {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 130px;
}

/* button to top */
.btn-top {
  position: fixed;
  bottom: 40px;
  left: 50px;
  display: none;
  z-index: 10000;
}


*:focus {
  outline: none;
}

@media screen and (max-width:550px) {
  .bliss .title {
    margin-top: 0 !important;
  }
}

@media screen and (max-width:425px) {
  .form {
    width: 350px !important
  }
}

@media screen and (max-width:375px) {
  .form {
    width: 330px !important
  }
}

@media screen and (max-width:320px) {
  .form {
    /* margin-left: -5%; */
    width: 318px !important
  }
}


/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3,
.product-wap li,
.product-wap i,
.product-wap p {
  font-size: 12px !important;
}

.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {
    max-width: 450px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {
    max-width: 650px;
  }



  .product-wap .h3,
  .product-wap li,
  .product-wap i,
  .product-wap p {
    font-size: 18px !important;
  }

  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}